<h2>Գլխավոր էջ</h2>

{{!-- {{#if todos.length}}

    <ul>
        {{#each todos}}
            <li class="todo">
                <form action="/delete/{{_id}}" method="GET">
                    <label>
                        <a href="/update/{{_id}}">
                            <span class="completed">{{title}}</span>
                        </a>

                        <input type="hidden" value="{{_id}}" name="id">

                        <button class="btn btn-small" type="submit">Delete</button>
                    </label>
                </form>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No todos!</p>
{{/if}} --}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>barev</p>
</body>
</html>